.title::before {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 11.4rem;
    height: 0.33rem;
    background-color: #f315583b;
    border-radius: 15px;
    left: 0px;
  }
  
  .title::after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 6.5rem;
    height: 0.33rem;
    background-color: #F31559;
    border-radius: 15px;
    left: 0px;
  }